@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
}

body {
  background-image: url('./assets/Vector\ for\ deskop.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) and (orientation: portrait) {
  body {
    background-image: url('./assets/Vector\ for\ mobile.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } 
}